<header class="main__header">
    <div class="logo-container">
        <div class="logo"><a href = "/">                    
            <img src="/images/logo-banner-transparente-wht.png" alt="Logo Merca Facil Wht" class="logo-img"></a>
        </div>
    </div>

    <div class="wrapper">
        <div class="search-box">
            <input type="text" class="input-search" placeholder="Buscar...">
        </div>
    </div>
    <nav class="nav">
      <ul class="nav__ul">
          <li class="nav__li"><a href = "/">Inicio</a></li>
          <li class="nav__li"><a href = "/aboutUs"></i>Nosotros</a></li>
          <li class="nav__li"><a href = "/products"></i>Productos</a></li>
          <li class="nav__li"><a href = "/contact"></i>Contacto</a></li>
          <div class="dropdown">
            <li class="nav__li dropbtn"><i class="fa-solid fa-user"></i><a href="#"> Mi cuenta <i class="fa-solid fa-angle-down"></i></a></li>
            <ul class="dropdown-content nav__ul">
                <li class="nav__li"><a href = "/users/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></i> Ingresar</a></li>
                <li class="nav__li"><a href = "/users/registro"><i class="fa-solid fa-user-check"></i></i> Registro</a></li>
                <li class="nav__li"><a href = "/products/productCart"><i class="fa-solid fa-cart-arrow-down"></i> Carro de compra</a></li>
                <li class="nav__li"><a href = "/products/pago"><i class="fa-solid fa-credit-card"></i> Finalizar compra</a></li>
                <li class="nav__li"><a href = "/products/mispedidos"><i class="fa-solid fa-box"></i> Pedidos</a></li>
                <li class="nav__li"><a href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesion</a></li>
            </ul>
        </div>
        </ul>        
  </nav>
  <nav class="nav-mobil">
    <div class="menu-mobil"><i class="fa-solid fa-bars"></i>
        <ul class="nav__ul_mobil">
            <li class="nav__li_mobil"><a href = "/">Inicio</a></li>
            <li class="nav__li_mobil"><a href = "/aboutUs"></i>Nosotros</a></li>
            <li class="nav__li_mobil"><a href = "/products"></i>Productos</a></li>
            <li class="nav__li_mobil"><a href = "/contact"></i>Contacto</a></li>
            <li class="nav__li_mobil"><i class="fa-solid fa-user"></i><a href="#"> Mi cuenta</a></li>
              <ul class="submenu-mobil nav__ul_mobil">
                  <li class="nav__li_mobil"><a href = "/users/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></i> Ingresar</a></li>
                  <li class="nav__li_mobil"><a href = "/users/register"><i class="fa-solid fa-user-check"></i></i> Registro</a></li>
                  <li class="nav__li_mobil"><a href = "/products/productCart"><i class="fa-solid fa-cart-arrow-down"></i> Carro de compra</a></li>
                  <li class="nav__li_mobil"><a href = "/products/pago"><i class="fa-solid fa-credit-card"></i> Finalizar compra</a></li>
                  <li class="nav__li_mobil"><a href = "/products/mispedidos"><i class="fa-solid fa-box"></i> Pedidos</a></li>
                  <li class="nav__li_mobil"><a class="logout" href="/users/logout">Cerrar Sesion</a></li>
                  
              </ul>
        </ul> 
    </div>         
</nav>
    
  </header>