<header class="main__header">
    <div = class="logo-container">
        <div class="logo"><a href = "/">                    
            <img src="/images/logo-banner-transparente-wht.png" alt="Logo Merca Facil Wht" class="logo-img"></a>
        </div>
    </div>

    <div class="wrapper">
        <div class="search-box">
            <input type="text" class="input-search" placeholder="Buscar...">
        </div>
    </div>
    <nav class="nav">
      <ul class="nav__ul dropdown2">
          <li class="nav__li"><a href = "/">Inicio</a></li>
          <li class="nav__li"><a href = "/sobrenosotros"></i>Nosotros</a></li>
          <li class="nav__li"><a href = "/#productos"></i>Productos</a></li>
          <li class="nav__li"><a href = "/contacto"></i>Contacto</a></li>                    
          <li class="nav__li dropbtn2"><i class="fa-solid fa-user"></i><a href="#"> Mi cuenta <i class="fa-solid fa-angle-down"></i></a></li>
              <ul class="dropdown-content2">
                  <li class="nav__li"><i class="fa-solid fa-arrow-right-to-bracket"></i></i><a href = "/login">Ingresar</a></li>
                  <li class="nav__li"><i class="fa-solid fa-cart-arrow-down"></i><a href = "/productCart">Carro de compra</a></li>
                  <li class="nav__li"><i class="fa-solid fa-credit-card"></i><a href = "/pago">Finalizar compra</a></li>
                  <li class="nav__li"><i class="fa-solid fa-box"></i><a href = "/mispedidos">Pedidos</a></li>
                  <li class="nav__li"><i class="fa-solid fa-right-from-bracket"></i><a href = "#">Salir</a></li>
              </ul>
        </ul>
  </nav>
    
  </header>