<!DOCTYPE html>
<html>
    <head>
        <title>MercaFacil - Sobre nosotros</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/aboutUs.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/scripts.js"></script>

    </head>
    <body>
        <%- include('./partials/header.ejs')-%>
        <div class="sub-header">
            <h2>SOBRE NOSOTROS</h2>
        </div>

            <section class="box-content-about">
                <div class="box-text-about">
                    <p> Merca Fácil un sitio en donde puedes administrar tus compras de una forma sencilla y particular Merca Fácil es un desarrollo web que consiste en tratar de imitar y mejorar las páginas web de supermercados como coto, carrefour, merqueo, exito, miniso y demás.</p>
                </div>

                <div class="box-img-about">
                    <img src="/images/MercaFacil.png" alt="Banner Nosotros" class="img-about">
                </div>

                <div class="box-img-about">
                    <img src="/images/PaletaColores.png" alt="Banner Nosotros" class="img-about" height="600">
                </div>

                <div class="box-text-about">
                    <p>El super digital dispondrá varios tipos de productos subdivididos en 6 categorías distintas: Despensa, Bebidas, Mascotas, Bebés, Cuidado Personal y Limpieza. Dentro de estas categorías se ofrecerán los correspondientes productos de distintas marcas para que el cliente tenga disponibilidad de elegir acorde a sus preferencias (ya sean económicas o personales).</p>
                </div>

            </section>

            <h3 class="titulo-seccion">INTEGRANTES</h3>

            <section class="box-content-about2">
                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/sobrenosotros/KAREN.jpg" alt="KAREN" class="imagen-integrante"></a>
                    <h3 class="titulo-integrante">Karen Quintero</h3>
                </div>

                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/sobrenosotros/YURIANA.jpg" alt="YURIANA" class="imagen-integrante"></a>
                    <h3 class="titulo-integrante">Yuriana Jimenez</h3>
                </div>

                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/sobrenosotros/ANDRES.jpg" alt="ANDRES" class="imagen-integrante"></a>
                    <h3 class="titulo-integrante">Andrés Ferrari</h3>
                </div>
                
                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/sobrenosotros/CATERINE.jpg" alt="MARIA" class="imagen-integrante"></a>
                    <h3 class="titulo-integrante">Maria Manosalva</h3>
                </div>


            </section>

            </body>

            <%- include('./partials/footer')-%>
        </html>


