<!DOCTYPE html>
<html>
    <head>
        <title>mercaFácil</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/s/scripts.js"></script>

    </head>
    <body>
        
        <%- include('./partials/header.ejs')-%>
        <div class="banner-comunidad-container">
            <img src="/images/comunidad-600px-b.jpg" alt="banner-comunidad" class="img-banner-comunidad">
        </div>

        <h2 class="titulo-seccion">CATEGORÍAS</h2>
        <div class="categorias-container">
            <div class="categoria"><a href="#">Despensa</a></div>
            <div class="categoria"><a href="#">Bebidas</a></div>
            <div class="categoria"><a href="#">Mascotas</a></div>
            <div class="categoria"><a href="#">Bebes</a></div>
            <div class="categoria"><a href="#">Cuidado</a></div>
            <div class="categoria"><a href="#">Limpieza</a></div>
        </div>

        <h2 id="productos" class="titulo-seccion">PRODUCTOS MÁS VENDIDOS</h2>
        <div class="products-container">
            <div class="product">
                <a href="/productDetail"><img src="/images/producto.png" alt="Despensa" class="img-categoria"></a>
                <div class="box-info-product">
                    <a href="/productDetail" class="titulo-product"><h4>Titulo del product</h4></a>
                    <a href="/productDetail" class="descipcion-product"><p>Descripción corta del producto</p></a>
                    <a href="/productDetail" class="precio-product"><h3>$2000</h3></a>
                </div>                
            </div>
            <div class="product">
                <a href="/productDetail"><img src="/images/producto.png" alt="Despensa" class="img-categoria"></a>
                <div class="box-info-product">
                    <a href="/productDetail" class="titulo-product"><h4>Titulo del product</h4></a>
                    <a href="/productDetail" class="descipcion-product"><p>Descripción corta del producto</p></a>
                    <a href="/productDetail" class="precio-product"><h3>$2000</h3></a>
                </div>                
            </div>
            <div class="product">
                <a href="/productDetail"><img src="/images/producto.png" alt="Despensa" class="img-categoria"></a>
                <div class="box-info-product">
                    <a href="/productDetail" class="titulo-product"><h4>Titulo del product</h4></a>
                    <a href="/productDetail" class="descipcion-product"><p>Descripción corta del producto</p></a>
                    <a href="/productDetail" class="precio-product"><h3>$2000</h3></a>
                </div>                
            </div>
            <div class="product">
                <a href="/productDetail"><img src="/images/producto.png" alt="Despensa" class="img-categoria"></a>
                <div class="box-info-product">
                    <a href="/productDetail" class="titulo-product"><h4>Titulo del product</h4></a>
                    <a href="/productDetail" class="descipcion-product"><p>Descripción corta del producto</p></a>
                    <a href="/productDetail" class="precio-product"><h3>$2000</h3></a>
                </div>                
            </div>
            <div class="product">
                <a href="/productDetail"><img src="/images/producto.png" alt="Despensa" class="img-categoria"></a>
                <div class="box-info-product">
                    <a href="/productDetail" class="titulo-product"><h4>Titulo del product</h4></a>
                    <a href="/productDetail" class="descipcion-product"><p>Descripción corta del producto</p></a>
                    <a href="/productDetail" class="precio-product"><h3>$2000</h3></a>
                </div>                
            </div>
            <div class="product">
                <a href="/productDetail"><img src="/images/producto.png" alt="Despensa" class="img-categoria"></a>
                <div class="box-info-product">
                    <a href="/productDetail" class="titulo-product"><h4>Titulo del product</h4></a>
                    <a href="/productDetail" class="descipcion-product"><p>Descripción corta del producto</p></a>
                    <a href="/productDetail" class="precio-product"><h3>$2000</h3></a>
                </div>                
            </div>
            <div class="product">
                <a href="/productDetail"><img src="/images/producto.png" alt="Despensa" class="img-categoria"></a>
                <div class="box-info-product">
                    <a href="/productDetail" class="titulo-product"><h4>Titulo del product</h4></a>
                    <a href="/productDetail" class="descipcion-product"><p>Descripción corta del producto</p></a>
                    <a href="/productDetail" class="precio-product"><h3>$2000</h3></a>
                </div>                
            </div>
            <div class="product">
                <a href="/productDetail"><img src="/images/producto.png" alt="Despensa" class="img-categoria"></a>
                <div class="box-info-product">
                    <a href="/productDetail" class="titulo-product"><h4>Titulo del product</h4></a>
                    <a href="/productDetail" class="descipcion-product"><p>Descripción corta del producto</p></a>
                    <a href="/productDetail" class="precio-product"><h3>$2000</h3></a>
                </div>                
            </div>

            </div>            
        </div>
    </body>

<%- include('./partials/footer')-%>
</html>