<!DOCTYPE html>
<html>
    <head>
        <title>ejercicio1</title>
        <link rel = "stylesheet" type = "text/css" href="style.css">
        <script src="https://kit.fontawesome.com/c1d2f4ffc4.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <header>
            <nav class="nav">
                <ul class="nav__ul">
                    <li class="nav__li"><i class="fa-solid fa-house"></i><a href = "#">Inicio</a></li>
                    <li class="nav__li"><i class="fa-solid fa-users"></i><a href = "#"></i>Sobre Nosotros</a></li>
                    <li class="nav__li"><i class="fa-solid fa-dollar-sign"></i><a href = "#">Gana dinero</a></li>
                    <li class="nav__li"><i class="fa-solid fa-circle-question"></i><a href = "#">Ayuda</a></li>
                </ul>

                <ul class="nav__responsive-ul">
                    <div class="nav__responsive-button"></div>
                    <div class="nav__li-container">
                        <li class="nav__responsive-li"><i class="fa-solid fa-house"></i><a href = "#">Inicio</a></li>
                        <li class="nav__responsive-li"><i class="fa-solid fa-users"></i><a href = "#">Sobre Nosotros</a></li>
                        <li class="nav__responsive-li"><i class="fa-solid fa-dollar-sign"></i><a href = "#">Gana dinero</a></li>
                        <li class="nav__responsive-li"><i class="fa-solid fa-circle-question"></i><a href = "#">Ayuda</a></li>
                    </div>
                </ul>
            </nav>
            
        </header>

    </body>
</html>