
  <h1>Listado de Productos</h1>
  <ul>
    <% for (let i = 0; i < products.length; i++) { %>
      <li>
          <a href="/products/<%=products[i].id%>">

              <%=products[i].name%>
              <%=products[i].price%>
              <%=products[i].image%>
          </a>
          
      </li>
  <% } %>
  </ul>

