<!DOCTYPE html>
<html>
    <head>
        <title>MercaFacil - Pagina de Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/scripts.js"></script>

    </head>
    <body>
        <%- include('./partials/header.ejs')-%>
        <div class="sub-header">
            <h2>LOGIN</h2>
        </div>

        <% if (typeof errors != 'undefined') { %>
            <p style="color:red">ERROR</p>
            <ul>
                <% for (let i = 0; i < errors.length; i++) { %>
                    <li>
                        <%=errors[i].msg%>
                    </li>
                <% } %>
            </ul>
        <% } %>

        <% if(typeof logueoInvalido != 'undefined'){ %>
            <p style="color:red">ERROR</p>

            <p style="color:red"> <%= logueoInvalido %> </p>


        <% } %>

        <div class="box-login">

            
            <section class="box-form-login">
                <form  class="box-form" action="/users/login" method="POST" >
                    
                        <label class="form-label-hide" >Ingrese su Correo Electrónico</label>
                        <input type="email" name="email" placeholder="Email"><br>
                  
                        <label class="form-label-hide" >Ingrese su contraseña</label>
                        <input type="password" name="password" placeholder="Contraseña"><br>
 
                       <label class="form-label-hide recordar-pass" for="recordar-pass">Recordame</label>
                        <input type="checkbox" name="recordar" id="recordar-pass">                    
                        <input class="btn-form2" type="submit" value="Login"><br>   

                </form>
                <p class="link-pass-lost">
                    <a href = "#">¿Has olvidado tu contraseña?</a>
                </p>

                <h3 class="registo-text">¿Aun no tienes cuenta?</h3>
                <p>
                    <input class="btn-form2" id="registrar" type="submit" name="registrar" value="REGÍSTRATE">
                </p> 
            </section>

            <section class="box-img-login">
                <img src="/images/generic-image.jpg" alt="Banner Login" class="img-login">
            </section>
        </div> 

    </body>
    <%- include('./partials/footer')-%>
</html>