<!DOCTYPE html>
<html>
<head>
    <title>MercaFacil - Ingreso Administrador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/loginAdmin.css">
    <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/scripts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-Header>
<%- include('./partials/header.ejs')-%>
<div class="sub-header">
    <h2>ADMINISTRADOR</h2>
</div>
<!-login->
<div class="box-login-admin">
    <section class="box-form-admin">
        <form action="box-form" action="/" method="POST">
            <p>
                <label for="form-label-hide"><h2>Usuario</h2></label>
                <input type="text" placeholder="Usuario" required/>
            </p>
            <p>
                <label for="form-label-hide"><h2>Contraseña</h2></label>
                <input type="password" placeholder="Contraseña" required/>
            </p>
            <p>
                <input class="btn-form2" id="ingresar" type="submit" name="ingresar" value="INGRESAR">
            </p>
        </form>
    </section>
    <!-Imagen Login->
    <section class="box-img-admin">
        <img src="/images/ingreso-admin.jpg" alt="img-admin" width="90%">
    </section>
</div>
</body>
<!-Footer>
<%include('./partials/footer')-%>
</html>