<!DOCTYPE html>
<html>
    <head>
        <title>MercaFacil - Pagina de Pedidos</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/scripts.js"></script>

    </head>
    <body>
      <header class="main__header">
        <div = class="logo-container">
            <div class="logo"><a href = "/">                    
                <img src="/images/logo-banner-transparente-wht.png" alt="Logo Merca Facil Wht" class="logo-img"></a>
            </div>
        </div>

        <div class="wrapper">
            <div class="search-box">
                <input type="text" class="input-search" placeholder="Buscar...">
            </div>
        </div>
        <nav class="nav">
          <ul class="nav__ul dropdown2">
              <li class="nav__li"><a href = "/">Inicio</a></li>
              <li class="nav__li"><a href = "/sobrenosotros"></i>Nosotros</a></li>
              <li class="nav__li"><a href = "/#productos"></i>Productos</a></li>
              <li class="nav__li"><a href = "/contacto"></i>Contacto</a></li>                    
              <li class="nav__li dropbtn2"><i class="fa-solid fa-user"></i><a href="#"> Mi cuenta <i class="fa-solid fa-angle-down"></i></a></li>
                  <ul class="dropdown-content2">
                      <li class="nav__li"><i class="fa-solid fa-arrow-right-to-bracket"></i></i><a href = "/login">Ingresar</a></li>
                      <li class="nav__li"><i class="fa-solid fa-cart-arrow-down"></i><a href = "/productCart">Carro de compra</a></li>
                      <li class="nav__li"><i class="fa-solid fa-credit-card"></i><a href = "/pago">Finalizar compra</a></li>
                      <li class="nav__li"><i class="fa-solid fa-box"></i><a href = "/mispedidos">Pedidos</a></li>
                      <li class="nav__li"><i class="fa-solid fa-right-from-bracket"></i><a href = "#">Salir</a></li>
                  </ul>
            </ul>
      </nav>
        
      </header>
        <div class="sub-header">
          <h2>MIS PEDIDOS</h2>
        </div>
        <section class="box-mis-pedidos">
          <table class="tg table-pedidos">
            <thead>
              <tr>
                <th class="tg-9wq8">Item</th>
                <th class="tg-9wq8">Fecha</th>
                <th class="tg-9wq8">Numero de orden</th>
                <th class="tg-9wq8">Total</th>
                <th class="tg-0lax"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-9wq8"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23000000' d='M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z'/%3e%3c/svg%3e" 
                  alt="Image" width="150" height="165"></td>
                <td class="tg-9wq8">FECHA DEL PEDIDO: DD/MM/AA</td>
                <td class="tg-9wq8">NUMERO DE ORDEN: #abc123</td>
                <td class="tg-9wq8">TOTAL: $00000.00</td>
                <td class="tg-cly1"><button type="submit"><i class="fas fa-check"></i>Hacer pedido de nuevo</button></td>
              </tr>
              <tr>
                <td class="tg-9wq8"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23000000' d='M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z'/%3e%3c/svg%3e" 
                  alt="Image" width="150" height="165"></td>
                <td class="tg-9wq8">FECHA DEL PEDIDO: DD/MM/AA</td>
                <td class="tg-9wq8">NUMERO DE ORDEN: #abc123</td>
                <td class="tg-9wq8">TOTAL: $00000.00</td>
                <td class="tg-cly1"><button type="submit"><i class="fas fa-check"></i>Hacer pedido de nuevo</button></td>
              </tr>
              <tr>
                <td class="tg-9wq8"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23000000' d='M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z'/%3e%3c/svg%3e" 
                  alt="Image" width="150" height="165"></td>
                <td class="tg-9wq8">FECHA DEL PEDIDO: DD/MM/AA</td>
                <td class="tg-9wq8">NUMERO DE ORDEN: #abc123</td>
                <td class="tg-9wq8">TOTAL: $00000.00</td>
                <td class="tg-cly1"><button type="submit"><i class="fas fa-check"></i>Hacer pedido de nuevo</button></td>
              </tr>
              <tr>
                <td class="tg-9wq8"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23000000' d='M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z'/%3e%3c/svg%3e" 
                  alt="Image" width="150" height="165"></td>
                <td class="tg-9wq8">FECHA DEL PEDIDO: DD/MM/AA</td>
                <td class="tg-9wq8">NUMERO DE ORDEN: #abc123</td>
                <td class="tg-9wq8">TOTAL: $00000.00</td>
                <td class="tg-cly1"><button type="submit"><i class="fas fa-check"></i>Hacer pedido de nuevo</button></td>
              </tr>
            </tbody>
          </table>
        
        <div class="botones-pedidos">
          <button type="submit"><i class="fas fa-undo"></i>Volver a la tienda</button><br>
        </div>
        </section>
    </body>
            <footer class="footer">
                <div class="contenedor-footer">
                    <div class="widget1">
                        <img src="/images/logo-banner.png" alt="Logo Merca Facil color" class="logo-footer">
                    </div>
        
                    <div class="widget2">
                      <h3 class="widget-titulo">Links</h3>
                      <nav class="nav-footer">
                          <ul class="nav__ul__footer">
                              <li><a href = "/">Inicio</a></li>
                              <li><a href = "/sobrenosotros"></i>Nosotros</a></li>
                              <li><a href = "/#productos"></i>Productos</a></li>
                              <li><a href = "/contacto"></i>Contacto</a></li>
                              <li><a href = "/login">Mi cuenta</a></li>                        
                          </ul>
                      </nav>
                  </div>
        
                    <div class="widget3">
                        <h3 class="widget-titulo">Información de contacto</h3>
                        <a href="https://www.google.cl/maps/preview" target="_blank"><p>Encuéntranos en: Buenos Aires, Argentina.</p></a>
                        <a href="tel:+54123456778901" target="_blank"><p>+54 1 23 4567-78901</p></a>
                        <a href="mailto:info@mercafacil.com.ar" target="_blank"><p>info@mercafacil.com.ar</p></a>
                    </div>
        
                    <div class="widget4"> 
                        <h3 class="widget-titulo">Síguenos en:</h3>               
                        <p class="social-icon">
                            <a href="#" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" target="_blank" class="facebook"><i class="fa-brands fa-facebook-f"></i></i></a>
                            <a href="#" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                        </p>
                    </div>
                </div>
        
                <p class="copyright-note">Copyright © 2022 Merca Fácil S.R.L. Todos los derechos reservados. Desarrollado por Grupo 4 Digital House.</p>        
            </footer>
        </html>


