<!DOCTYPE html>
<html>
    <head>
        <title>MercaFacil - Panel Administrador</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/panelAdmin.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/scripts.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
<!-Header>
<%- include('./partials/header.ejs')-%>
<div class="sub-header">
    <h2 class="name-panel">PANEL ADMINISTRADOR</h2>
</div>
<!-Panel>
<div class="panel-admin">
    <!-Agregar productos>
    <div>
        <input type="checkbox" id="evento-click">
        <label for="evento-click" title="Abrir formulario" class="btn__new-product">AÑADIR PRODUCTO</i>
        </label>
        <div class="container__modal">
            <div class="body__modal">
                <form action="POST" class="message__modal">
                    <div>
                        <label for="id">ID PRODUCTO:</label>
                        <input class="form-control" name="id" required type="text" id="id" placeholder="Ingresa el ID">
                    </div>
                    <div>
                        <label for="nombre">NOMBRE PRODUCTO:</label>
                        <input class="form-control" name="nombre" required type="text" id="nombre" placeholder="Ingresa el nombre">
                    </div>
                    <div>
                        <label for="categoria">CATEGORIA DEL PRODUCTO:</label>
                        <input class="form-control" name="categoria" required type="text" id="categoria" placeholder="Ingresa la categoria">
                    </div>
                    <div>
                        <label for="descripcion">DESCRIPCIÓN:</label>
                        <textarea required id="descripcion" name="descripcion" cols="30" rows="5" class="form-control"></textarea>
                    </div>
                    <div>
                        <label for="precioVenta">PRECIO:</label>
                        <input class="form-control" name="precioVenta" required type="number" id="precioVenta" placeholder="Precio de venta">
                    </div>
                    <div>
                        <label for=".existencia">EXISTENCIA:</label>
                        <input class="form-control" name="existencia" required type="number" id="existencia" placeholder="Cantidad o existencias">
                    </div>
                    <div class="header__modal">
                        <label for="evento-click">GUARDAR</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-Tabla de exisstensias>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th><h2>Item</h2></th>
                    <th><h2>Vista</h2></th>
                    <th><h2>Producto</h2></th>
                    <th><h2>Precio</h2></th>
                    <th><h2>Disponible</h2></th>
                    <th>
                        <i class="fa-solid fa-square-pen"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="products">
                    <td class="item"><h4>1</h4></td>
                    <td class="img-product">
                        <img src="/images/panel/bebes01.jpg" alt="product-1">
                    </td>
                    <td class="name-product-1">
                        <h3>Leche en Tarro</h3>
                    </td>
                    <td data-title="precio" class="price">
                        <p>$15.00</p>
                    </td>
                    <td data-title="Disponible" class="cant">
                        <p>35</p>
                    </td>
                    <td>
                        <button class="submit">Modificar</button>
                    </td>
                </tr>
                <tr>
                    <td class="item"><h4>2</h4></td>
                    <td class="img-product">
                        <img src="/images/panel/mascotas01.jpg" alt="product-2">
                    </td>
                    <td class="name-product-2">
                        <h3>Comida para gato</h3>
                    </td>
                    <td data-title="precio" class="price">
                        <p>$45.00</p>
                    </td>
                    <td data-title="Disponible" class="cant">
                        <p>42</p>
                    </td>
                    <td>
                        <button class="submit">Modificar</button>
                    </td>
                </tr>
                <tr>
                    <td class="item"><h4>3</h4></td>
                    <td class="img-product">
                        <img src="/images/panel/bebidas01.jpg" alt="product-3">
                    </td>
                    <td class="name-product-3">
                        <h3>Agua en botella</h3>
                    </td>
                    <td data-title="precio" class="price">
                        <p>$32.00</p>
                    </td>
                    <td data-title="Disponible" class="cant">
                        <p>15</p>
                    </td>
                    <td>
                        <button class="submit">Modificar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-paginas>
    <div class="nav-pag">
        <nav class="bar-pag">
            <ol>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
            </ol>
        </nav>
    </div>
</body>
<!-Footer->
<%- include('./partials/footer')-%>
</html>