<!DOCTYPE html>
<html>
    <head>
        <title>MercaFacil - Panel Administrador</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/scripts.js"></script>
    </head>
<body>
    <%- include('./partials/header.ejs')-%>
<div class="panel">
    <section>
        <h3>Vista</h3>
    </section>
    <section>
        <h3>Producto</h3>
    </section>
    <section>
        <h3>Precio</h3>
    </section>
    <section>
        <h3>Disponible</h3>
    </section>
    <section>
        <i class="fa-solid fa-square-pen"></i>
    </section>
</div>
<article class="product">
    <div class="img-product">
        <img src="/images/bebes01.jpg" alt="product-1">
    </div>
    <div>
        <h3>Leche en Tarro</h3>
    </div>
    <div>
        <p>$15.00</p>
    </div>
    <div>
        <p>35</p>
    </div>
    <div>
        <button class="submit">Modificar</button>
    </div>
</article>
<article class="product">
    <div class="img-product">
        <img src="/images/mascotas01.jpg" alt="product-2">
    </div>
    <div>
        <h3>Comida para gato</h3>
    </div>
    <div>
        <p>$45.00</p>
    </div>
    <div>
        <p>42</p>
    </div>
    <div>
        <button class="submit">Modificar</button>
    </div>
</article>
<article class="product">
    <div class="img-product">
        <img src="/images/bebidas01.jpg" alt="product-3">
    </div>
    <div>
        <h3>Agua en botella</h3>
    </div>
    <div>
        <p>$32.00</p>
    </div>
    <div>
        <p>15</p>
    </div>
    <div>
        <button class="submit">Modificar</button>
    </div>
</article>
</div>
</body>
    <%- include('./partials/footer')-%>
</html>