<!DOCTYPE html>
<html>
    <head>
        <title>MercaFacil - Pagina de producto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/productDetail.css">  
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/scripts.js"></script>
        
    </head>
    <body>
        <%- include('./partials/header.ejs')-%>
        <div class="sub-header">
            <h2>Detalle del Producto</h2>
        </div>
        <main>
            <div class="detalle-producto">
                
                <div class="imagen-detalle-producto">
                    <img src="/images/generic-image.jpg" width="300px" alt="Detalle del Producto">
                </div>
                
                <div class="contenido-detalle-producto">
                    <p class="nombre-detalle-producto">NOMBRE DEL PRODUCTO</p>
                    <p>Descripción corta del Producto</p>
                    <p class="precio-detalle-producto">PRECIO $ 000.000</p>
                    
                    <div class="botones-detalle-producto">  
                        <div>
                        <form name="cart_quantity" method="post" action="index.php">
                            <a href="#"><i class="fa-solid fa-circle-minus"></i>
                            <input name="quantity" id="quantity" value="" size="4" onChange="UpdateCartQuantity();" />
                            <a href=""#"><i class="fa-solid fa-circle-plus"></i><br><br>     
                        </form>
                        </div>
                        
                        <button type="submit"><i class="fas fa-check"></i>FINALIZAR COMPRA</button>
                        <button type="submit"><i class="fas fa-undo"></i>VOLVER A PRODUCTOS</button><br>                            
                    </div>
                </div> 
               
            </div>
        </main>
    </body>

    <%- include('./partials/footer')-%>
</html>