.box-login-admin {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.box-form-admin {
    border: 1px solid;
    text-align: center;
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
}

.box-login-admin input[type="text"],
.box-login-admin input[type="password"] {
    max-width:400px;
    width: 80%;
    line-height:3em;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
}