*{
  font-family: 'Montserrat', sans-serif;
}

.products-container div{
  width: 200px;
}

.button-crear {
  align-items: center;
  background-color: #3E9855;
  border: transparent; 
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  justify-content: center;
  margin-top: 15px;
  padding: 15px 30px;
}

article{
    width: 300px;
    display:inline-block;
}

main{
    
    text-align: center;
}