*{
    font-family: 'Montserrat', sans-serif !important;
}

.box-registo{
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 0px;
    width: 90%;
}

.form-registro{
    width: 60%;
    padding-right: 8%;
}

.box-img-registro{
    width: 40%;
    text-align: center;
}

.form-registro label{
    width: 100%;
    font-size: 24px;
    font-weight: 600;
}

.form-registro input, .form-registro select{
    width: 100%;
    font-size: 24px;
    margin-top: 10px;
}

.form-registro div{
    margin-bottom: 20px;
}