*{
    box-sizing: border-box ;
    padding: 0px;
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

p, a{
    font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .nav{
    font-family: 'Bebas Neue', cursive !important
    ;
}

.main__header{
    align-items: center;
    background-color: #FF9234;
    display: flex;
    padding: 0px 20px;
    width: 100%;
}

.logo-container{
    padding: 10px 0px 5px 0px;
    width: 25%;
}

.logo-img{
    height: 85px;
    margin-top:-3px;
    width:85px;
}

.main__header .wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 27%       
}

.search-box {
    width: 100%;
    text-align: center;
}

.search-box input{
    width: 90%;
}

.main__header .nav{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 48%;    
}

.nav__ul{
    display: flex;
    flex-flow: wrap;
    justify-content:flex-end;
    list-style: none;
}

.nav__li{
    color: #fff;
    padding: 0px 20px;
}

.nav__li a{
    color: #fff;
    font-size: 20px;    
    text-decoration: none;
}

/* Estilos de menu para dispositivos*/
.nav-mobil{
    float: right;
}

.menu-mobil i{
    color: #fff;
    font-size: 24px;
}

.nav__ul_mobil{
    display: none;
}

.menu-mobil:hover .nav__ul_mobil {
    display: block;
}

.nav__ul_mobil {
    background-color: #FF9234;
    display: none;
    right: 0;
    min-width: 250px;
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    list-style: none;
}

.nav__ul_mobil li{
    padding: 0px 0px 10px;
}

.nav__ul_mobil li a{
    color: #fff;
    font-size: 20px;    
    text-decoration: none;
}

.nav__ul_mobil li i{
    font-size: 16px;
}

.submenu-mobil{
    padding: 10px 20px 10px 35px;
}

/* Estilo para submenu */
.dropbtn {
    border: none;
}
  
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content .nav__li{
    padding: 5px 5px;
}

.dropdown-content .nav__li .fa-solid{
    padding: 0px 5px;
    width: 25px;
}
  
.dropdown-content {
    background-color: #FF9234;
    display: none;
    left: -35px;
    min-width: 335px;
    position: absolute;
    z-index: 1;
}
  
.dropdown-content a {
    display: block;
    text-decoration: none;
}
  
 
.dropdown:hover .dropdown-content {
    display: block;
}  

/* Fin de estilos de submenu */

.img-banner-comunidad{
    height: auto;
    width: 100%;
}

.titulo-seccion{
    font-size: 40px;
    margin: 30px 0px;
    text-align: center;
}

.categorias-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 8%;
    width: 100%;
}

.categoria{
    margin-bottom: 22px;
    padding: 0px 13px;
    width: 33.333%;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 8%;
    width: 100%;
}

.product{
    background: #fff;
    margin: 0px 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 23.433%;
}

.box-info-product{
    padding: 0px;
}

.titulo-product,
.descipcion-product,
.precio-product{
    text-decoration:none;    
}

.titulo-product h4, .descipcion-product p, .precio-product h3{
    margin: 0px;
    padding: 0px 0px 5px 0px;
}

.titulo-product{
    color: #FF9234;
    font-size: 24px;
}

.descipcion-product{
    color:#333;
}

.precio-product{
    color: #D92027;
    font-size: 28px;
}

.product img{
    width: 100%;
}

.footer{
    background-color: #D92027;
    margin-top: 50px;
}

.contenedor-footer{
    display: flex;
    padding: 30px 8%;
    width: 100%;
}

.widget1, .widget2, .widget3, .widget4{
    margin-bottom: 20px;
    padding: 0px 15px;
    width: 25%;
}

.widget1 img{
    width: 150px;
}

.contenedor-footer a{
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    text-decoration:none;
}

.contenedor-footer li{
    list-style: none;
}

.widget-titulo{
    color: #fff;
    font-size: 30px;
}

.social-icon{
    margin-top: 20px;
}

.social-icon a{
    background: #fff !important;
    border-radius: 50%!important;
    color: #D92027;
    font-size: 20px !important; 
    margin-right: 10px;
    text-align: center !important;
    vertical-align: middle !important;   
}

.social-icon .instagram{    
    padding: 5px 8.3px!important;
}

.social-icon .facebook{
    padding: 5px 10.8px;
}

.social-icon .twitter{
    padding: 5px 6.999px;
}

.copyright-note{
    color: #fff;
    font-weight: 600;
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
}

.sub-header{
    background-color:#D92027;
    color:#fff;
    font-size: 42px !important;
    padding: 20px 0px 10px;
    text-align:center;
}

.sub-header h2{
    margin: 0;
}

/*ESTILOS DE SOBRE NOSOTROS*/ 

.box-content-about{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}

.box-text-about{
    align-items: center;
    align-self: center;
    font-size: 24px;
    line-height: 1.5;
    padding: 30px 30px;
    text-align: justify;
    width: 50%;
}

.box-img-about{
    align-items: center;
    align-self: center;
    padding: 30px 30px;
    width: 50%;
}

.box-img-about img{
    width: 100%;
}

.box-content-about2{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}

.estilos-imagenes{
    align-items: center;
    align-self: center;
    padding: 30px 30px;
    width: 50%;
}

.estilos-imagenes img{
    height: 450px;
    object-fit: cover;
    object-position: 100% 0;
    width: 100%;
}

.titulo-integrante{
    font-size: 28px;
    text-align: center;
}

/*FINALIZA SOBRE NOSOTROS*/ 


/* Estilos para pagina de pedidos */

.box-mis-pedidos{
    margin: 0 auto;
    padding: 50px 0px;
    width: 90%;
}

.table-pedidos tr th{
    background-color: #FF9234 !important;
    border-color:black;
    border-style:solid;
    border-width:1px;
    color: #fff !important;
    font-family:Montserrat, Montserrat;
    font-size: 24px !important;
    font-weight:normal;
    font-weight: 600 !important;
    overflow:hidden;
    padding:17px 17px;
    word-break:normal;
}

.table-pedidos .tg-cly1 {
    text-align: center !important;
}

.table-pedidos img{
    padding: 0px 20px;
}

.botones-pedidos{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}



/* Pantallas de escritorio normales y TV incluso */
@media (max-width: 1920px) and (min-width: 992px) {
    .main__header .nav-mobil{display: none;
    }
}

/* Tabletas */
@media (max-width: 991px) and (min-width: 768px) {
    .logo-container{
        width: 20%;
    }

    .main__header .wrapper{
        width: 60%;
    }

    .main__header .nav-mobil{
        display: flex;
        width: 20%;
        justify-content: right;

    }    

    .main__header .nav{
        display: none;
    }
}

/* Teléfonos móviles */
@media (max-width: 767px) and (min-width: 390px) {
    .logo-container{
        width: 15% !important;
    }

    .main__header .wrapper{
        width: 45% !important;
    }

    .main__header .nav-mobil{
        display: flex;
        width: 45% !important;
    }

    .main__header .nav{
        display: none;
    }
}